#app {
    --var-system-color-success: #15B115;
    --var-system-color-delete: #FF0000;
    --var-system-color-closed: #696969;
    --var-system-color-white: #FFFFFF;
    --var-system-color-black: #000000;
    --var-system-color-info: #1ADDE4;
    --var-system-color-link: #827AF3;
}